#empty-layout
{
    width: 792px;
    min-height: 297mm;
    margin: 0 auto;
    border: 1px #efefef solid;
    padding: 10mm;
    font-family: Arial;
}

table
{
    width: 792px;
    text-align: center;
    border-collapse: collapse;
    text-align: left;
}

table th, table td
{
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
}

img
{
    max-width: 774px;
}

p {
    display: inline-block;
}

.course-name
{
    font-size: 32px;
    border-bottom: 1px solid #000;
    margin: 0 0 14px 0;
}

.theme-header
{
    font-size: 20px;
    margin: 20px 0;
}

.course .lesson .lesson-name
{
    margin: 30px 0 20px 0;
}

.lesson .lesson-name
{
    font-size: 28px;
    margin: 0 0 10px 0;
}

.lesson .blocks-header
{
    font-size: 20px;
    margin: 20px 0;
}

.lesson .blocks-container
{
    margin-top: 30px;
}

.lesson .block-name
{
    margin-top: 25px;
}

.block-name
{
    font-size: 24px;
    margin: 0 0 10px 0;
}

.skill-header
{
    font-size: 20px;
    margin: 10px 0;
}

.block-skills
{
    font-style: italic;
    font-size: 12px;
}

.block-skills td
{
    padding: 4px 8px;
}

.blocks
{
    font-style: normal;
    font-size: 14px;
}

.blocks td
{
    border: none;
    padding: 4px 8px;
}

.blocks .type-block
{
    font-style: italic;
}

.block-skills td
{
    border: none;
}

.lessons td
{
    border: none;
}

.exercise-header
{
    font-size: 20px;
    margin: 20px 0;
}

.exercise .exercise-main-td
{
    border: none;
    padding: 0 0 10px 0;
}

.exercise .exercise-main-td table td
{
    border: none;
}

.exercise .exercise-main-td table td
{
    border: none;
}

.exercise .number
{
    font-weight: bold;
}

.exercise .condition
{
    border-bottom: 1px solid #000 !important;
}

.exercise .answer
{
    text-align: left;
}

.not-exercises
{
    font-size: 14px;
}

.right-answer
{
    padding-top: 20px;
}

.field
{
    margin-top: 4px;
    width: 200px;
}

.answer-head
{
    margin-bottom: 10px;
}

.accurate-answer
{

}

.list-one
{
    float: left;
    width: 45%;
}

.list-two
{
    float: right;
    width: 45%;
}

.comparison
{
    margin: 4px 0;
    border: 1px solid #000;
}

.comparisons .comparison p
{
    margin: 2px 0;
    padding: 2px 4px;
}

.bag
{
    border: 1px solid #000;
}