#empty-layout
{
    width: 210mm;
    min-height: 297mm;
    margin: 0 auto;
    border: 1px #efefef solid;
    padding: 8mm;
    font-family: Arial;
    font-size: 14px;
}

table
{
    width: 792px;
    text-align: center;
    border-collapse: collapse;
    text-align: left;
}

table th, table td
{
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
}


img
{
    max-width: 100% !important;
}

p {
    margin: 0;
}

/*--------------------------- Course ---------------------------*/

.course-name
{
    font-size: 32px;
    border-bottom: 1px solid #000;
    margin: 0 0 14px 0;
    padding-bottom: 3px;
}

.theme-header
{
    font-size: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.course .lesson .lesson-name
{
    margin: 30px 0 20px 0;
}

/*--------------------------- Lesson ---------------------------*/

.lesson .lesson-name
{
    font-size: 28px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.lesson .blocks-header
{
    font-size: 20px;
    margin: 20px 0;
}

.lesson .blocks-container
{
    margin-top: 30px;
}

.lesson .block-name
{
    margin-top: 25px;
}

.block-name
{
    font-size: 24px;
    margin: 0 0 10px 0;
}

.block-skills
{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 14px;
}

.block-skills b
{
    font-size: 16px;
}

.blocks
{
    font-style: normal;
    font-size: 14px;
}

.blocks td
{
    border: none;
    padding: 4px 8px;
}

.blocks .type-block
{
    font-style: italic;
}

.lessons td
{
    border: none;
}

/*--------------------------- Exercise ---------------------------*/

.exercises .odd
{
    background: #f9f9f9;
}

.exercises .even
{
    background: #e8f5e1;
}

.exercise
{
    padding: 14px;
    page-break-inside: avoid;
    margin-bottom: 2px;
}

.exercise .head
{
    border-bottom: 1px solid #000;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.clearfix:after
{
    content: '';
    display: block;
    clear: both;
}

.exercise .number
{
    float: left;
    width: 6%;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    font-family: Arial;
}

.exercise .condition
{
    width: 94%;
    line-height: 18px;
    vertical-align: middle;
    float: left;
}

.exercise .answer
{
    text-align: left;
}

.not-exercises
{
    font-size: 14px;
}

.right-answer
{
    margin-top: 20px;
}

.right-answer .right-head
{
    font-weight: bold;
    margin-bottom: 10px;
}

.variant .text
{
    line-height: 24px;
}

.full-field,
.field
{
    height: 26px;
    width: 200px;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    vertical-align: middle;
}

.full-field
{
    width: 100%;
}

.textarea
{
    height: 26px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #888;
    border-color: #888;
    border-radius: 3px;
    vertical-align: middle;
    resize: none;
}

.checkbox
{
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
}

.radio
{
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid #888;
    border-radius: 30px;
}

.accurate-answer
{

}



.dropdown-list
{

}

.dropdown-list .variant
{
    margin: 5px 0;
}

.dropdown-list .checkbox-cont
{
    float: left;
    width: 4%;
}

.dropdown-list .text
{
    float: right;
    width: 94%;
}



.radio-buttons
{

}

.radio-buttons .variant
{
    margin: 5px 0;
}

.radio-buttons .radio-cont
{
    float: left;
    width: 4%;
}

.radio-buttons .text
{
    float: right;
    width: 94%;
}



.checkboxes
{

}

.checkboxes .variant
{
    margin: 5px 0;
}

.checkboxes .checkbox-cont
{
    float: left;
    width: 4%;
}

.checkboxes .text
{
    float: right;
    width: 94%;
}



.pick-blocks
{

}

.pick-blocks .variant
{
    margin: 5px 0;
}

.pick-blocks .checkbox-cont
{
    float: left;
    width: 4%;
}

.pick-blocks .text
{
    float: right;
    width: 94%;
}



.comparisons
{
    
}


.comparisons .comparison
{
    margin-bottom: 6px;
}

.comparisons .comp-answer-left,
.comparisons .comp-answer-right
{
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 8px 10px;
}

.comparisons .comp-answer-left
{
    float: left;
    width: 40%;
}

.comparisons .comp-answer-right
{
    float: right;
    width: 40%;
}

.orderings
{
    
}

.orderings .words
{
    margin-bottom: 10px;
}

.orderings .full-field
{
    height: 52px;
}



.text-with-space
{
    
}

.text-with-space .words
{
    margin-top: 10px;
}

.text-with-space .word
{
    margin: 2px 0;
}



.text-with-limits
{
    
}

.text-with-limits .words
{
    margin-top: 10px;
}

.text-with-limits .words .space
{
    margin: 2px 0;
}

.exact-answers-with-space
{
    
}

.exact-answers-with-space .textarea
{
    width: auto !important;
}



.pick-area
{
    
}



.hotmap-items
{
    
}

.hotmap-items .items
{
    margin-bottom: 10px;
}



.bags-type
{
    
}

.bags-type .items
{
    margin-bottom: 20px;
}

.bags-type .items .item
{
    border: 1px solid #888;
    background: #fff;
    border-radius: 3px;
    width: 30%;
    padding: 5px;
    margin: 4px 0;
}

.bags-type .bags .bag
{
    float: left;
    border-radius: 3px;
    border: 1px solid #888;
    width: 30%;
    margin-left: 4%;
    margin-bottom: 10px;
}

.bags-type .bags .bag .head
{
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #888;
    background: #eee;
    margin: 0;
}

.bags-type .bags .bag .bag-drop
{
    height: 80px;
    background: #fff;
}

.bags-type .bags .first-in-line
{
    margin-left: 0;
    clear: both;
}



.hotmap-bags
{
    
}

.hotmap-bags .items
{
    margin: 10px 0 20px;
}

.hotmap-bags .items .item
{
    border: 1px solid #888;
    background: #fff;
    border-radius: 3px;
    width: 30%;
    padding: 5px;
    margin: 4px 0;
}

.hotmap-bags .bags .bag
{
    float: left;
    border-radius: 3px;
    border: 1px solid #888;
    width: 30%;
    margin-left: 4%;
    margin-bottom: 10px;
}

.hotmap-bags .bags .bag .head
{
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #888;
    background: #eee;
    margin: 0;
}

.hotmap-bags .bags .bag .bag-drop
{
    height: 80px;
    background: #fff;
}

.hotmap-bags .bags .first-in-line
{
    margin-left: 0;
    clear: both;
}


.hotmap-ordering
{
    
}

.hotmap-ordering .areas
{
    margin-bottom: 10px;
}

.hotmap-ordering .items
{
    margin: 10px 0;
}

.hotmap-ordering .item
{
    border: 1px solid #888;
    background: #fff;
    border-radius: 3px;
    width: 30%;
    padding: 5px;
    padding-left: 30px;
    margin: 4px 0;
}

.hotmap-ordering .right-answer .item
{
    padding: 5px;
}