@font-face {
   font-family: 'PT Sans';
   src: url(/fonts/PTS55F_W.eot);
}

@font-face {
  font-family: 'PT Sans';
  src: local("PT Sans"),
       url(/fonts/PTS55F_W.ttf);
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/pts75f_w.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Sans Bold'), url('/fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('/fonts/PTS75F_W.woff') format('woff'), url('/fonts/PTS75F_W.ttf') format('truetype'), url('/fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}


@font-face {
    font-family: 'a_FuturaOrto';
    src: local("a_FuturaOrto"), url('/fonts/a_futuraorto.ttf');
}

@font-face {
    font-family: 'a_FuturaOrto';
    src: local("a_FuturaOrto"), url('/fonts/a_futuraorto-bold.ttf');
    font-weight: bold; 
}

html, body {
    height: 100%;
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
}

.course-info,  .lesson-header
{
    background-color: white;
    
    padding-top: 10px !important;
    padding-bottom:10px !important;
}

.course-info
{
    margin-right: 10px !important;
}

h1{
    font-family: 'Lobster', cursive !important;
    font-weight: bold;
}

h2{
    font-family: 'Bad Script', cursive !important;
    font-weight: bold;
    font-size:20px !important;
    border-bottom:2px dotted silver;
}

#main-menu a, #menu-logo {
    padding: 22px 15px;
    height: 64px;
}

#main-menu #myprogress a {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
}

/*------*/

#container {
    margin-bottom: 80px;
}

.page-header {
    margin: 0 0 10px 0 !important;
}
.page-header h2 {
    margin: 0;
    float: left;
    font-size: 24px;
    line-height: 24px;
}

.page-header a {
    float: right;
}

.head-data {
    margin-top: 10px;
}

.header-lesson {
    padding-bottom: 9px;
    /*border-bottom: 1px solid #eee;*/
}

.header-lesson .names h1 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.header-lesson .skills {

    
}

.header-lesson .next {
    text-align: right;
}

.lessongroup, .exercisegroup {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.zgrid .save-row {
    font-size:16px;
    display: none;
}

.zgrid .save-row i {
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 1px;
}

.order-rows {
    text-align: center;
    height: 34px;
    padding-right: 0;
}

.order-rows i {
    line-height: 34px;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
}

.order-rows i:hover {
    color: #47a447;
}

.zgrid .order-rows {
    text-align: center;
}
.zgrid .order-rows i {
    font-size: 12px;
}

.save-row:hover {
    text-decoration: none;
    color: #428bca;
}

.btn-icon .glyphicon {
   top: 2px;
   right: 3px;
   padding-right: 4px;
}

.btn-icon-right .glyphicon {
   top: 2px;
   left: 3px;
   padding-left: 4px;
}

.form {
    margin-top: 12px;
}

.form .line {
    margin-bottom: 10px;
    width: 400px;
}

.zgrid th, .zgrid td {
    text-align: center;
}

.zgrid textarea {
    resize: vertical;
}

.zgrid input {
    text-align: center;
}

.zgrid .inputs-mini {
    
}
/*#dff0d8; #d9edf7; #428bca;*/
.zgrid .inputs-mini .input-mini-container {
    background: #d9edf7;
    text-align: left;
    margin-bottom: 3px;
    border-radius: 5px;
}

.zgrid .inputs-mini .input-mini-container .name {
    text-align: left;
    width: 80%;
    margin: 3px 0 0 5px;
    font-size: 11px;
    float: left;
    word-break: break-word;
}

.mydrop {

}
.zgrid .mydrop input {
    text-align: left;
    height: 25px;
    padding: 4px 8px;
    font-size: 11px;
}

.zgrid  .mydrop .dropdown-toggle {
    padding: 1px 8px;
    height: 25px;
}

.mydrop .input-group-btn {
    position: static;
}

.mydrop .input-group-btn .dropdown-menu {
    min-width: 0;
    width: 100%;
}

.mydrop .input-group-btn .dropdown-menu a {
    white-space: normal;
    font-size: 12px;
    word-break: break-word;
    text-align: left;
}

.inputs-mini .input-mini-container .close {
    margin: 2px 5px 0 0;
    font-size: 18px;
    width: 7%;
}

.ui-autocomplete {
    font-size: 10px;
}

.ui-autocomplete .ui-menu-item a {
    font-size: 10px;
}

.section {
    
}

.section .head {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.section .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chosen-skills .skill {
    margin-bottom: 3px;
    background: #d9edf7;
    border-radius: 5px;
}

.chosen-skills .name {
    text-align: left;
    width: 80%;
    margin: 3px 0 0 5px;
    font-size: 11px;
    float: left;
    word-break: break-word;
}

.chosen-skills .close {
    margin: 2px 5px 0 0;
    font-size: 18px;
    width: 7%;
}

.form-profile form {
    margin-bottom: 12px;
}

.form-profile .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-profile h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.errorMessage {
    color: #D00;
}

.list-exercises ul {
    padding-left: 20px;
    list-style: none;
    margin: 0;
}

.list-exercises ul a {
    text-decoration: none;
}

.lesson-info {
    /*padding: 0 12px;*/
    margin: 0;
}

.divider {
    border-left: 2px solid #ddd;
    height: 100%;
    left: 58.4%;
    position: absolute;
}

.widget
{
    background-color:white;
    overflow: hidden;
    padding:0 15px 15px;
    min-height: 300px;
}

.exercises
{
    padding-left:0 !important;
    padding-right:0 !important;
}

.lesson-info
{
    padding-right:0 !important;
}

#check .head h1 {
    font-size: 30px;
    margin-top: 11px;
    margin-bottom: 12px;
    line-height: 41px;
}

#check .head .fordummy {
    font-size: 18px;
}

#check .reg {
    margin-top: 20px;
    text-align: right;
}

#check .reg a {
    width: 70%;
}

#check .login {
    text-align: right;
    margin-top: 10px;
    font-size: 15px;
    width: 70%;
    float: right;
}

#check .login a {
    text-decoration: underline;
    color: #006699;
    font-size: 16px;
}

#check #exercises {
    margin-top: 21px;
}

#check .exercise {
    margin-bottom: 17px;
}

#check .exercise h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

#check .exercise .answer .form-control-feedback {
    top: 0;
    right: 15px;
}

#check #bottom .btn {
    min-width: 180px;
    font-size: 16px;
    margin: 30px 0;
}

#check #bottom #leftStep {
    display: inline-block;
    margin-left: 10px;
}

#check #result {
    font-size: 17px;
    margin-bottom: 16px;
}

#check #recommend {
    font-size: 17px;
}

#ochivki #progress {
    width: 80%;
    margin: 0 auto;
}

#ochivki #progress tr td {
    padding: 8px;
    text-align: center;
}

#ochivki #progress .name {
    font-weight: bold;
}

#ochivki #progress .desc {
    width: 35%;
}

#ochivki #progress .value {
    font-size: 24px;
    font-weight: bold;
}

#ochivki #progress .place {
    width: 14%;
}

#htmlEditor .modal-dialog {
    width: 900px;
}

.for-editor-field  {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 32px;
    word-break: break-all;
    padding: 6px 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.for-editor-field:hover {
    cursor: pointer;
}

#course-themes {
    border-collapse: separate;
    border-spacing: 10px 0;
    width: 100%;
    heigth: 100%;
    table-layout: fixed;
}

#course-themes table {
    width: 100%;
    table-layout: fixed;
}

#course-themes thead th {
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    text-align: center;
}

#course-themes #skills {

}

#course-themes .theme {
    height: 100%;
}

#course-themes .theme-name {
    border-bottom: 2px solid #006699;
    padding: 5px;
    height: 100%;
    text-align: center;
}

#course-themes .theme-name textarea {
    float: left;
    width: 90%;
    resize: none;
    height: 100%;
}

#course-themes .theme-name a {
    float: right;
    width: 9%;
    color: #D2322D;
}

#course-themes .lesson {
    height: 84px;
    border-bottom: 2px solid #ff6600;
}

#course-themes .lesson-name {
    text-align: center;
    padding: 3px;
    height: 100%;
    display: inline-block;
}

#course-themes .lesson-name textarea {
    float: left;
    width: 90%;
    resize: none;
    height: 100%;
}

#course-themes .lesson-name .lesson-remove {
    float: right;
    width: 9%;
}

#course-themes .lesson-name .lesson-remove a {
    color: #D2322D;
}

#course-themes .blocks {
    border-bottom: 2px solid #ff6600;
    text-align: center;
}

#course-themes .blocks > tbody
{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 82px;
}

#course-themes .blocks:first-child > tbody
{
    min-height: 83px;
}

.lessons-container > table > tbody
{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 84px;
}

.lessons-container
{
    height: 100%;
}

.lessons-container > table
{
    height: 100%;
    display: inline-block;
}

#course-themes #blocks-course .blocks > tbody {
    min-height: 40px;
}

#course-themes #blocks-course .blocks {
    border-bottom: none;
}

#course-themes .block td {
    padding: 3px 0;
}


#course-themes .blocks .block .block-name {
    width: 40%;
    padding-right: 1%;
}

#course-themes .blocks .block .block-type {
    width: 15%;
    padding-right: 1%;
}

#course-themes .blocks .block .block-type select {
    padding: 0;
}

#course-themes .blocks .block .block-count {
    width: 5%;
    padding-right: 1%;
}

#course-themes .blocks .block .block-skills {
    width: 30%;
    padding-right: 1%;
}

#course-themes .blocks .block .block-skills select {
    padding: 0;
}

#course-themes .blocks .block .block-operation {
    width: 6%;
}

#course-themes .blocks .block .block-operation .edit {
    color: #006699;
}

#course-themes .blocks .block .block-operation .remove {
    color: #D2322D;
}

#additional {
    border-top: 2px solid #999;
    margin-top: 5px;
    padding-top: 5px;
}

#select-skills {
    width: 24%;
    float: left;
    margin-right: 1%;
}

#additional #add-skill {
    width: 24%;
    float: left;
    margin-right: 1%;
}

#additional #add-block {
    width: 23%;
    float: left;
    margin: 0 1%;
}

#additional #add-block input, #additional #add-skill input {
    width: 53%;
    float: left;
}

#additional #add-block select, #additional #add-skill select {
    width: 30%;
    margin: 0 1%;
    float: left;
}

#additional #add-block a, #additional #add-skill a {
    width: 15%;
    float: right;
}

#additional #add-lesson {
    width: 23%;
    float: left;
    margin: 0 1%;
}

#additional #add-lesson input {
    width: 84%;
    float: left;
}

#additional #add-lesson a {
    width: 15%;
    float: left;
    margin-left: 1%;
}

#additional #add-theme {
    width: 24%;
    float: left;
    margin-left: 1%;
}

#additional #add-theme input {
    width: 84%;
    float: left;
}

#additional #add-theme a {
    width: 15%;
    float: left;
    margin-left: 1%;
}

.skill-course
{
    padding:10px 0;
    text-align: center;
    vertical-align: top;
}

.skill-course .skill-remove-icon
{
    visibility:hidden;
}

.skill-course:hover .skill-remove-icon
{
    visibility: visible !important;/*
    position:relative;
    z-index: 1000000;*/
}

.droppable-hover
{
    background-color:yellow !important;
}

/*.ui-sortable-placeholder td
{
    width:100%;
}

.ui-sortable-placeholder
{
    background-color:yellow !important;
}*/

.skill-course:hover .skill-remove-icon
{
    /*visibility: visible !important;
    position:relative;
    z-index:1000000000000;*/
}

#skills-table
{
    position:relative;
}

#dropdown-generators {
    float: left;
    width: 239px;
    display:block;
    position:relative;
}

#dropdown-generators .dropdown-menu {
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    left: -1px;
}

#dropdown-generators #generators-link {
    border-radius: 4px;
}

#generator-page {
    
}

#generator-page label {
    line-height:  34px;
    margin-bottom: 0;
    cursor: pointer;
}

#generator-page #header-variables label
{
    line-height:  normal;
    margin-bottom: 6px;
    font-size: 13px;
    cursor: default;
}

#generator-page #add-condition {
    margin-top: 10px;
}

#result-generation #add-skills
{
    
}

.skills-mini .skills .skill
{
    margin: 5px 0;
    color: #888;
    border-radius: 5px;
    padding: 2px 5px;
    background: #d9edf7;
}

.skills-mini .skills .skill .name {
    text-align: left;
    width: 92%;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 18px;
    margin: 0;
    float: left;
}

.skills-mini .skills .skill .remove {
    float: left;
    cursor: pointer;
    width: 7%;
    text-align: right;
    margin: 0 0 0 1%;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.skills-mini .skills .skill .remove:hover {
    opacity: 0.5;
}


.skill-course
{
    position:relative;
}

.skill-course span{
    font-size:8px;
    text-overflow: ellipsis;
    max-width:90%;
    overflow:hidden;
    display:inline-block;
    max-height: 22px;
}

.skill-course a{
    display: block;
position: absolute;
top: 0px;

z-index:10000000;
}

#newskills .skills-row
{
    position:relative;
    overflow:hidden;
}

#skills .skills-row
{
    position:absolute;
    display:block;
    overflow:hidden;
    width:100%;
}

.skills-row div
{
    float:left;
}

.blocks-container
{
    vertical-align:top;
    height: 100%;
    display: inline-block;
}

#exercises-form .row {
   margin: 10px -15px; 
}

#exercises-form label {
    line-height: 34px;
    margin-bottom: 0;
}

#exercises-form .for-editor-field {
    min-height: 34px;
}

#dropdown-types_of_exercises .dropdown-menu .type {
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#dropdown-types_of_exercises {
    width: 202px;
    display:block;
    position:relative;
    float: left;
    margin-left: 3px;
}

#dropdown-types_of_exercises .dropdown-menu {
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    left: -1px;
}

#dropdown-types_of_exercises #types-link {
    border-radius: 4px;
    width: 202px;
}

#dropdown-types_of_exercises #types-link i {
    float: left;
    width: 10%;
    text-align: left;
}

#dropdown-types_of_exercises #types-link p {
    float: left;
    width: 80%;
    text-align: center;
    margin: 0;
}

#dropdown-types_of_exercises #types-link .caret-cont {
    float: right;
    margin: 0;
    width: 10%;
    text-align: right;
}

#dropdown-types_of_exercises li {
    width: 200px;
}

#dropdown-types_of_exercises li a {
    font-size: 12px;
}

.selected-answer {
    border: 1px solid #555;
}

.no-selected-answer {
    border: 2px solid #a11;
    border-radius: 5px;
}

#dictionary-page label {
    margin: 4px 0 8px;
    cursor: pointer;
}

.text-with-space .text {
    margin-bottom: 10px;
}

.text-with-space .answer-droppable {
    min-width: 50px;
    display: inline-block;
    border-bottom: 3px solid #69c;
    padding-bottom: 1px;
    min-height: 26px;
    margin: 0 4px;
}

.text-with-space .words .word {
    margin: 2px;
}

.text-with-space .word {
    min-width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1px 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-field {
    margin: 10px -15px;
}

.pagination .selected a
{
    background: #eee;
}

.new-log
{
    background: #ffffcc;
}

.new-log:hover td
{
    background: #ffff99 !important;
}

.deal
{
    text-align: center;
    margin: 10px auto;
    background-color: #fcf8e3;
    border-radius: 10px;
    width: 50%;
    padding: 14px;
}

.deal .confirmation
{
    margin-top: 7px;
}

.word-image-container
{
    text-align: center;
}

.upload-container
{
    display: none;
}

.upload-container .upload-image
{
    width: 100%;
}

.upload-container p
{
    margin: 4px 0;
}

.word-image-container .remove-image i
{
    top: 2px;
    left: 3px;
    color: #d9534f;
}




#wrapper {
    height: 100%;
    min-height: 100%;
    height: auto !important;
    background: #87c368;
}

/*------------------------------------------------------ Header ------------------------------------------------------*/

#header {
    margin: 0 auto;
}

#logo {
    float: left;
}

#logo a {
    text-transform: uppercase;
    color: #fff;
    font-size: 52px;
    line-height: 72px;
    font-weight: bold;
    font-family: 'PT Sans';
}
#logo a:hover {
    text-decoration: none;
}

#slogan
{
    color: #fff;
    font-style: italic;
}

#login
{
    float: right;
    margin-top: 24px;
}

#login a
{
    text-decoration: underline;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    font-family: 'PT Sans';
}

#login a:hover
{
    text-decoration: none;
}

#login .login-button
{
    float: right;
    margin-right: 26px;
}

.orange-button a
{
    background: #fddd76;
    padding: 10px 24px;
    font-size: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    font-family: 'PT Sans' !important;
    color: #0076c9 !important;
    text-decoration: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 50, 0.27) 0px 0px 5px 0px;
}

.orange-button a:hover
{
    background: #fed75a;
}

#reg-as-student
{
    float: right;
}

#reg-as-student a, #user-page-link a
{
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    padding: 0  0 2px;
}

#user-page-link
{
    float: right;
    margin-right: 40px;
}

#logout
{
    float: right;
}

#top-menu-on-main
{
    margin-top: 22px;
}

#top-menu-on-main ul
{
    padding: 0;
}

#top-menu-on-main li
{
    float: left;
    list-style: none;
    border-left: 1px solid #fff;
}

#top-menu-on-main li:first-child
{
    border-left: none;
}

#top-menu-on-main li:last-child a
{
    padding: 0 0 0 18px;
}

#top-menu-on-main li a
{
    padding: 0 18px;
}

#back-header-top {
    background: #588ec5;
    width: 100%;
}

#header-top {
    width: 980px;
    height: 200px;
    margin: 0 auto;
}

#separate-header-part
{
    height: 14px;
    background: #588ec5;
    text-align: center;
}

#separate-header-part img
{
    vertical-align: top;
}

#back-header-bottom {
    background: #f9f9f9;
}

#header-bottom {
    width: 980px;
    position: relative;
    height: 190px;
    margin: 0 auto;
}

.advantage:first-child
{
    margin-left: 4px;
}

.advantage:last-child
{
    margin-left: 33px;
}

.advantage
{
    margin-top: -98px;
    float: left;
    width: 169px;
    margin-left: 32px;
}

.advantage:after, #advantages:after
{
    content: '';
    display: block;
    clear: both;
}

.advantage .explanation {
    color: #0076c9;
    text-align: center;
    margin-top: 14px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 12px;
}

.header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
.header .btn {
    float: right;
}

.modal-body .row {
    padding: 3px 30px;
}

.modal-body .body-input {
    width: 50%;
    float: right;
}

.modal-body label {
    float: left;
    cursor: pointer;
    vertical-align: middle;
    line-height: 34px;
    margin-bottom: 0;
}

.modal-header {
   background: #f8f8f8;
   text-align: center;
   border-radius: 4px 4px 0 0;
}

.modal-content {
    color: #000;
    background: #fefefe !important;
}

#reg-roles .role input
{
   margin-top: 6px;
}

#reg-roles .role label
{
   float: none;
   margin-top: -6px;
}

.modal-body .rememberMe input {
    float: left;
    margin: 1px 0 0 8px;
    height: 34px;
}

.modal-footer {
    background: #f8f8f8;
    border-radius: 0 0 4px 4px;
}

#reg-success {
    margin: 200px auto;
    width: 400px;
    text-align: left;
    font-size: 16px;
    color: #444;
    padding: 40px;
    background: #dff0d8;
    border-radius: 15px;
    border: 4px solid #ddd;
}

/*------------------------------------------------------ Container ------------------------------------------------------*/

#container
{
    width: 980px;
    margin: 0 auto;
    padding-bottom: 136px;
}

.choose-course
{
    color: #fff;
    font-family: 'PT Sans' !important;
    text-transform: uppercase;
    font-size: 34px;
    margin: 30px 0 28px 0;
}

#courses-tabs
{
    -webkit-box-shadow: 0px 12px 21px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 12px 21px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 12px 21px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 70px;
}

#courses-tabs .nav-tabs > li > a
{
    background: none;
    border: none;
}

#courses-tabs .nav-tabs > li
{
    background: -moz-linear-gradient(top, #ffef8c 0%, #f6d774 100%);
    background: -webkit-linear-gradient(top, #ffef8c 0%, #f6d774 100%);
    background: -o-linear-gradient(top, #ffef8c 0%, #f6d774 100%);
    background: -ms-linear-gradient(top, #ffef8c 0%, #f6d774 100%);
    background: linear-gradient(to bottom, #ffef8c 0%, #f6d774 100%);
    
    border: 1px solid #f2e497;
    border-radius: 6px 6px 0 0;
    width: 238px;
    height: 60px;
    text-align: right;
    position: relative;
}

#courses-tabs .nav-tabs > .fourth
{
    border-radius: 6px 0 0 0;
}

#courses-tabs .nav-tabs > li .course-icon
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 14px;
    margin-right: 0;
}

#courses-tabs .nav-tabs > li .course-shadow
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 7px;
    background: url(../images/course-shadow.png) top left repeat-y;
}

#courses-tabs .nav-tabs > .active
{
    background: -moz-linear-gradient(top, #80c682 0%, #afdb98 100%);
    background: -webkit-linear-gradient(top, #80c682 0%, #afdb98 100%);
    background: -o-linear-gradient(top, #80c682 0%, #afdb98 100%);
    background: -ms-linear-gradient(top, #80c682 0%, #afdb98 100%);
    background: linear-gradient(to bottom, #80c682 0%, #afdb98 100%);
    border: 1px solid #bee396;
}

#courses-tabs .tab-content
{
    background: #fff;
    height: 400px;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
}

#courses-tabs .tab-header
{
    cursor: pointer;
    width: 100%;
    display: table;
    height: 100%;
}

#courses-tabs .tab-header .name
{
    color: #062261;
    width: 160px;
    padding-right: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'PT Sans';
}

#courses-tabs .tab-header h3
{
    font-size: 22px;
    margin: 0;
    line-height: 22px;
}

.triangle
{
    text-align: center;
    height: 11px;
}

.triangle img
{
    vertical-align: top;
}

#courses-tabs #more-courses
{
    background: #8f854e;
    border: 1px solid #b4a96b;
    width: 28px;
    border-radius: 0 6px 0 0;
    text-align: center;
    float: right;
}

#courses-tabs #more-courses #tabDrop1
{
    padding: 17px 0;
    margin: 0;
}

.courses
{
    margin: 14px 25px;
}

.courses .course
{
    width: 290px;
    height: 170px;
    overflow: hidden;
    float: left;
    border: 1px solid #dbdbda;
    margin: 8px 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(170, 158, 135, 0.45);
    -moz-box-shadow:    0px 0px 7px 0px rgba(170, 158, 135, 0.45);
    box-shadow:         0px 0px 7px 0px rgba(170, 158, 135, 0.45);
    background: #fefefe;
}

.courses .course .head
{
    height: 70px;
    color: #464e73;
    display: table;
    width: 100%;
    font-family: 'PT Sans';
    font-weight: bold;
    background: #f8f8f8;
}

.courses .course .head .number
{
    text-align: center;
    font-size: 20px;
    width: 52px;
    height: 52px;
    line-height: 48px;
    vertical-align: middle;
    margin: 10px 14px;
    border: 2px solid #98c1e7;
    border-radius: 30px;
}

.courses .course .head .name
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 208px;
    padding: 10px 14px 10px 0;
    font-size: 18px;
}

.courses .course .content
{
    height: 60px;
    text-align: center;
    background: #a2c8f0;
}

.courses .course .content h4
{
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.courses .course .content .value
{
    color: #b5486d;
    font-size: 22px;
}

.courses .course .content .class,
.courses .course .content .difficulty,
.courses .course .content .count-lessons
{
    float: left;
    width: 96px;
    padding: 10px 0;
    height: 100%;
    border-top: 1px solid #8fb5dd;
    border-right: 1px solid #8fb5dd;
    border-bottom: 1px solid #8fb5dd;
}

.courses .course .content .class
{
    border-left: 1px solid #8fb5dd;
}

.courses .course .foot
{
    height: 40px;
    text-align: center;
    width: 100%;
    background: -moz-linear-gradient(top, #fffffd 0%, #efefed 100%);
    background: -webkit-linear-gradient(top, #fffffd 0%, #efefed 100%);
    background: -o-linear-gradient(top, #fffffd 0%, #efefed 100%);
    background: -ms-linear-gradient(top, #fffffd 0%, #efefed 100%);
    background: linear-gradient(to bottom, #fffffd 0%, #efefed 100%);
}

.courses .course .foot .to-course
{
    color: #0076c9;
    margin-top: 7px;
    display: inline-block;
    font-family: 'PT Sans';
    text-decoration: underline;
}

.courses .course .foot .to-course:hover
{
    text-decoration: none;
}

/*------------------------------------------------------ Footer ------------------------------------------------------*/

#back-footer
{
    height: 136px;
    margin-top: -136px;
    background: #fff;
}

#footer
{
    width: 980px;
    margin: 0 auto;
}

#copyright {
    color: #0076c9;
    padding: 32px;
    font-size: 12px;
    font-family: 'Arial';
    text-align: center;
}

/*------------------------------------------------------ Course-Page ------------------------------------------------------*/

#course-page
{
    margin: 30px 0;
}

#course-page .theme-name
{
    font-size: 34px;
    font-family: 'a_FuturaOrto' !important;
    font-weight: bold;
    color: #fff;
    margin: 40px 0;
}

#course-page .lessons-table
{
    width: 100%;
    font-family: 'a_FuturaOrto';
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-collapse: separate !important;
    table-layout: fixed;
}

#course-page .lessons-table p
{
    margin: 0;
    padding: 0;
}

#course-page .lessons-table th
{
    background: #fff;
    height: 54px;
    font-size: 20px;
    padding: 0 25px;
    color: #0d1d56;
}

#course-page .lessons-table thead .name
{
    background: #ffe582;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

#course-page .lessons-table thead .status
{
    background: #afdb98;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

#course-page .lessons-table td
{
    border: 1px solid #f5f4f3;
    background: #fff;
    height: 58px;
    font-size: 18px;
    padding: 0 25px;
    color: #022f6d;
}

#course-page .lessons-table tr:last-child td:first-child
{
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

#course-page .lessons-table tr:last-child td:last-child
{
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#course-page .lessons-table .lesson-name
{
    color: #022f6d;
}

#course-page .lessons-table .to-lesson
{
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#course-page .lessons-table .passed
{
    color: #6bb444;
    font-size: 16px;
    font-weight: bold;
}

#course-page .lessons-table .unaccess
{
    color: #b5486d;
    font-size: 16px;
    font-weight: bold;
}

#course-page .lessons-table .percent
{
    color: #404241;
    font-weight: bold;
}

#course-page .lessons-table .percent span
{
    color: #6ab83f;
    font-size: 14px;
    vertical-align: top;
    font-weight: normal;
}

#achievements-links
{
    float: left;
    margin: 15px 0 0 47px;
}

#achievements-links:after
{
    content: '';
    display: block;
    clear: both;
}

#achievements-links > a
{
    display: inline-block;
    text-align: center;
    color: #b42151;
    float: left;
    margin: 0 1px;
    font-family: 'PT Sans';
    font-size: 13px;
    width: 102px;
    height: 73px;
    background: #fff;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

#achievements-links .top
{
    background: #eeedeb;
    height: 43px;
    padding: 6px 0;
}

#achievements-links .top h5
{
    margin: 0;
}

#achievements-links .bottom
{
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #404241;
}

#achievements-links .bottom span
{
    vertical-align: top;
    font-size: 14px;
    font-weight: normal;
    color: #b42151;
}

.head-column
{
    height: 215px;
    position: relative;
    top: -98px;
    padding: 12px;
    background: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.head-column > .content
{
    height: 100%;
    font-size: 14px;
    font-family: Arial;
    color: #263870;
    background: #f8f8f8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;;
    border-bottom: 4px solid #d9d9d9;
}

.head-column > .content > .text
{
    padding: 14px 12px;
}

#head-col-left
{
    float: left;
    width: 471px;
    margin-left: 3px;
}

#head-col-right
{
    float: right;
    width: 471px;
    margin-right: 3px;
}

.course-state-button
{
    display: inline-block;
    background: #e094b2;
    text-decoration: none !important;
    color: #fff !important;
    padding: 7px 17px 9px;
    font-size: 16px;
    line-height: 16px;
    font-family: 'PT Sans';
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.course-state-button:hover
{
    background: #e05c90;
}

#head-col-left .course
{
    
}

#head-col-left .course .head
{
    padding: 10px;
    height: 65px;
    overflow: hidden;
}

#head-col-left .course .head .name
{
    font-family: 'a_FuturaOrto';
    font-size: 18px;
    font-weight: bold; 
    padding: 3px 0;
    color: #263870;
}

#head-col-left .course .head .status
{
    font-family: Arial;
    font-size: 14px;
    color: #588ec5;
}

#head-col-left .course > .content
{
    height: 60px;
}

#head-col-left .course > .content > div
{
    float: left;
    width: 50%;
    padding: 9px 0;
    text-align: center;
    color: #fff;
    height: 100%;
    background: #a2c8f0;
    border: 1px solid #8fb5dd;
}

#head-col-left .course > .content h4
{
    margin: 0;
    font-size: 14px;
    font-family: Arial;
}

#head-col-left .course > .content .value
{
    color: #b5486d;
    font-size: 22px;
}

#head-col-left .course > .content .value span
{
    color: #fff;
    font-family: 'PT Sans';
    font-size: 15px;
    font-weight: bold;
}

#head-col-left .course > .content .passed-lessons
{
    border-right: none;
}

#head-col-left .course > .progress
{
    background: #9adeca;
    border-radius: 0;
    height: 10px;
}
#head-col-left .course > .progress .progress-bar
{
    background-size: 10px 10px;
}

/*------------------------------------------------------ Lesson-Page ------------------------------------------------------*/

#lesson-page {
    margin: 22px 0 80px;
}

#lesson-page .lesson-name {
    font-size: 36px !important;
    color: #feffff;
    margin: 22px 0;
    font-family: 'a_FuturaOrto' !important;
    font-weight: normal !important;
    border: none;
}

#lesson-page .theory {
    padding: 0 0 10px;
}

#lesson-page .list-exercises {
    margin-left: -13px;
    padding-left: 15px;
}

#lesson-page .list-exercises ul li {
    margin: 3px 0;
}

#lesson-page .list-exercises ul li .link {
    text-decoration: none;
}

#lesson-page .list-exercises ul li .link:hover {
    color: #007;
    font-weight: bold;
}

#lesson-page .list-exercises ul li .current {
    color: #007;
    font-weight: bold;
}

#lesson-page #exercises
{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

#lesson-page .exercise:first-child
{
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#lesson-page .exercise:last-child
{
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#lesson-page .exercise {
    padding: 18px 14px;
}

#lesson-page .exercise.even {
    background: #fff;
}

#lesson-page .exercise.odd {
    background: #e8f5e1;
}

#lesson-page .exercise .head
{
    
}

#lesson-page .exercise .head .number {
    float: left;
    text-align: center;
    font-size: 22px;
    font-family: 'PT Sans';
    width: 52px;
    height: 52px;
    line-height: 48px;
    vertical-align: middle;
    border: 2px solid #98c1e7;
    border-radius: 30px;
}

#lesson-page .exercise .head .condition {
    float: left;
    width: 880px;
    margin-top: 13px;
    margin-left: 14px;
    font-family: Arial;
    font-size: 15px;
    line-height: 21px;
    color: #263870;
}

#lesson-page .control-buttons {
    width: 70%;
    margin: 10px auto;
    text-align: right;
}

#lesson-page .label {
    float: right;
    margin-top: 5px;
    display: inline-block;
    line-height: 16px;
    width: 150px;
    word-break: break-all;
    white-space: normal;
}

.check .answer,
#lesson-page .answer {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

.check .result,
#lesson-page .result {
    line-height: 21px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
}

.check .answer .for-editor-field,
#lesson-page .answer .for-editor-field {
    margin-top: 10px;
}

.check .answer .for-editor-field:first-child,
#lesson-page .answer .for-editor-field:first-child {
    margin-top: 0;
}

#lesson-page .answer .form-control-feedback {
    top: 0;
}

#lesson-page .comparisons .list-one
{
    float: left;
    width: 48%;
}

#lesson-page .comparisons .list-two
{
    float: right;
    width: 48%;
}

#lesson-page .comparisons .comparison  {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 0;
    background: #fff;
    min-height: 32px;
    word-break: break-all;
    padding: 6px 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#lesson-page .orderings .word
{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    display: inline-block;
    background: #fff;
    min-height: 32px;
    word-break: break-all;
    padding: 6px 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.color-right {
    color: #5cb85c;
}

.color-unright {
    color: #d9534f;
}

#lesson-page .header-lesson .popover {
    max-width: 390px;
}

